* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
  }

  .row::after {
    content: "";
    display: table;
    clear: both;
  }

  [class*='col-'] {
    float: left;
    padding: 15px;
  }


@media (min-width: 300px) {

  .bg-image-dawn {
    background-image: url('../assets/img/dawn.png');
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transition: 5s ease-in-out;
  }

  .bg-image-xs {
    height: 100vh;
  }

  .kitten-dawn {
    display: block;
    width: 50%;
    margin-left: 25%;
    transition: 5s ease-in-out;

  }

  .kitten-dawn img{
    width: 50%;
    bottom: 0px;
    position: absolute;
  }

  .kitten-night, .kitten-sunny {
    display: none;
  }


}


@media (min-width: 768px) {

  .bg-image-night {
    background-image: url('../assets/img/night.jpg');
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .bg-image-sm {
    height: 100vh;
  }

  .kitten-night {
    display: block;
    width: 50%;
    margin-left: 25%;
  }

  .kitten-night img {
    width: 25%;
    bottom: 0px;
    position: absolute;
  }

  .kitten-dawn, .kitten-sunny {
    display: none;
  }
}


@media (min-width: 992px) {
  .bg-image-sunny {
    background-image: url('../assets/img/sunny-day.jpg');
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-size: cover;
  }
  .bg-image-md {
    height: 100vh;
  }

  .kitten-sunny {
    display: block;
    width: 50%;
    margin-left: 25%;
  }

  .kitten-sunny img {
    width: 25%;
    bottom: 0px;
    position: absolute;
  }

  .kitten-dawn, .kitten-night{
    display: none;
  }
}
